body {
    font-family: 'Roboto', sans-serif;
    color: #434455;
    font-size: 16px; 
    line-height: 24px; 
    background-color: #fff; 
}

a, button {
    transition: color 0.3s ease;
}

a:hover, a:focus, button:hover, button:focus {
    color: #4D5AE5
}

.contact-text:hover, .contact-text:focus {
    color: #007BFF; 
}

button {
    cursor: pointer;
    font-family: inherit; 
    font-weight: 500; 
}

